.app-card {
  width: 16rem;
  height: 16rem;
  background-color: blanchedalmond;
  box-shadow: 8px 8px 8px slategrey;
  border: 2px solid #000;
}

.app-card-info {
  padding: 1rem;
}

.app-card-edit {
  margin: 1rem;
}
